.box-width{
    width: 50% !important;
}
.form-section{
    border: 4px solid #000099;
    /* box-shadow: 10px 10px 10px 10px #0099ff !important; */
    /* margin-left: 20px !important; */
    /* margin-right: 40px; */
    padding-top: 40px;
    padding: 20px 100px;
    display: block;
    border-radius: 4px;
    background-color: darkturquoise;
}
/* .form-bg{
    background-color: darkturquoise;
} */
.form-section{
    justify-content: center;
}
.contact-img{
 
    height: 516px;
    width: 786px;
}
.form-class{
    background-color: aliceblue;
}