.sub-Med-heading{
    color: crimson;
    text-align: center;
}
.subMed-detail{
    margin-top: 50px;
    padding: 0px 20px;
}
.med-card{
    padding: 20px;
    column-gap: 40px;
    /* margin-left: 50px; */
}
.sub-med{
    background-color: #ffffcc;
    padding-top: 20px;
    margin-bottom: -50px;
    padding-bottom: 50px;
}
.g-4{
    margin-left: 40px;
    column-gap: 20px;
}
.petsub-img{
    height:220px !important;
}